<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftMeteor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>28F53E681DEB5F71009641F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28F53E7E1DEB5F72009641F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28F53E891DEB5F72009641F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
